{% extends 'mainapp/base.html' %}
{% block title %}
BlogBux | Post Delete
{% endblock %}

{% load crispy_forms_tags %}
{% block main-body %}

    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <div class="alert alert-danger">
                            Do you want to delete post?
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <a class="btn btn-secondary btn-sm" href="{% url 'post_details' post.id %}">Cancel</a>
                            <input type="submit" class="btn btn-primary btn-sm" href="" value="Confirm">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}