{% extends 'mainapp/base.html' %}
{% block title %}
BlogSite | Post Details
{% endblock %}

{% load crispy_forms_tags %}
{% block main-body %}

    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="profile-image">
                            </div>
                            <div class="col-md-8 ">
                                <small>{{ post.date_created }}</small>
                                {% if post.author == request.user %}
                                <div class=" d-grid gap-2 d-flex justify-content-md-end">
                                    <span><a class="btn btn-primary btn-sm " href="{% url 'post_edit' post.id %}">Edit </a> </span>
                                    <span><a class="btn btn-danger btn-sm" href="{% url 'post_delete' post.id %}">Delete </a> </span>
                                </div>
                                {% endif %}
                                    <hr>
                                <h4>{{ post.title }}</h4>
                                <p>
                                    {{ post.content }}
                                </p>
                            </div>
                        </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Comments
                              </button>
                            </h2>

                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body text-justify" style="height: 250px; overflow-y: scroll;">
                                  <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iure officia reiciendis vitae. Ab, ad aperiam consequatur error laudantium, libero magnam maxime nihil nulla placeat quod sunt tempora veniam vero.
                                  </p>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum doloremque doloribus dolorum, eum laborum maiores, minus nemo placeat rem suscipit tempora. Amet blanditiis consequuntur, debitis, dicta dolor dolorum error facilis numquam provident quasi quos sapiente suscipit? Animi culpa distinctio eum laboriosam magnam modi officia officiis quisquam ullam, voluptates.
                                  </p>
                                  <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptatum?
                                  </p>
                              </div>
                          </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}