{% extends 'mainapp/base.html' %}
{% block title %}
BlogSite | Log Out
{% endblock %}

{% load crispy_forms_tags %}
{% block main-body %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-sm-6 mx-auto">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <h3>Logout  Page </h3>
                        <hr>
                        <div class="alert alert-info">
                            You have been Logged out successfully.
                        </div>
                        <button type="button" class="btn btn-outline-primary">
                        <a href="/login" >Login </a>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}