{% extends 'mainapp/base.html' %}
{% block title %}
BlogSite | Password Reset Confirm
{% endblock %}

{% load crispy_forms_tags %}
{% block main-body %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-sm-6 mx-auto">
                <div class="card shadow my-3">
                    <div class="card-body">

                        <h3>Password Reset Confirm Page </h3>
                        <hr>
                        <form method="POST" class="bootstrap4">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <div class="text-center">
                            <input class="btn btn-primary btn-block " type="submit" value="Reset Password Confirm">
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}