{% extends 'mainapp/base.html' %}
{% block title %}
BlogBux | Password Reset Done
{% endblock %}

{% load crispy_forms_tags %}
{% block main-body %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-sm-6 mx-auto">
                <div class="card shadow my-3">
                    <div class="card-body">

                        <h3>Password Reset Done Page </h3>
                        <hr>
                        <div class="alert alert-info">
                        An Email with instructions to reset the password has been sent to email you provided.
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}