{% extends 'mainapp/base.html' %}
{% block title %}
BlogBux | Password Reset Complete
{% endblock %}

{% load crispy_forms_tags %}
{% block main-body %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-sm-6 mx-auto">
                <div class="card shadow my-3">
                    <div class="card-body">

                        <h3>Password Reset Complete Page </h3>
                        <hr>
                        <div class="alert alert-info">
                            Your password reset has been successful. Please Log in with your credentials.
                        </div>
                        <a href="/users-login">Login </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}